<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
{#            <div class="panel-body">#}
{#                <h3 class="{{ class }}">Summary</h3>#}
{#                {% if summary.managers %}#}
{#                    <h5>{{ summary.managers.count }} registered Cloudify manager</h5>#}
{#                    {% for manager in summary.managers %}#}
{#                        on <strong>{{ manager.provider }}</strong> (<i>{{ manager.ip }}</i>) with {{ a }} available components, {{ b }} deployed#}
{#                        <button href="#" class="btn btn-xs btn-primary">#}
{#                            <span class="glyphicon glyphicon-arrow-right"></span>#}
{#                            Use#}
{#                        </button>#}
{#                        <br/>#}
{#                    {% endfor %}#}
{#                    <br/>#}
{#                {% else %}#}
{#                    No Cloudify managers have been registered on this domain yet.#}
{#                    <br/>#}
{#                    <br/>#}
{#                {% endif %}#}
                {% include 'dashboard/manager/managers.html' with managers=summary.managers form=summary.form domain=summary.domain providers=summary.providers %}
{#            </div>#}
            <br/>
            <br/>
        </div>
    </div>
</div>