{% extends "dashboard/base.html" %}

{% block title %} WITDOM | Dashboard {% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-9">
        <div class="col-md-offset-6">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tabDomainTrusted" role="tab" data-toggle="tab" class="btn btn-default">Trusted domain</a></li>
            <li><a href="#tabDomainUntrusted" role="tab" data-toggle="tab" class="btn btn-default">Untrusted domain</a></li>
        </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tabDomainTrusted">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'dashboard/domain/domainSummary.html' with domain=1 class="brown" summary=summary_trusted %}
                    </div>
                 </div>
            </div>
            <div class="tab-pane" id="tabDomainUntrusted">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'dashboard/domain/domainSummary.html' with domain=2 class="brown" summary=summary_untrusted %}
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


