{% extends "dashboard/blueprint/blueprint.html" %}

{% load pygmentify %}

{% block details %}
{#{% include 'dashboard/newDeployment.html' %} <!-- Form for creating new deployment -->#}

    {% if deployments|length == 0 %}
        Either the deployment of this component was not deployed yet, or it was undeployed. You can re-run the deployment.
        <br/>
        <br/>
        <a role="button" class="btn btn-primary" href="{% url 'run-deployment' blueprint.id %}"><span class="glyphicon glyphicon-play-circle"></span> Run deployment</a>
    {% else %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for deployment in deployments %}
            {% with execution_list=deployment.details.executions nodes_list=deployment.details.nodes node_instances_list=deployment.details.node_instances  %}
            <div class="panel panel-default">
                <ul class="nav nav-tabs" id="tabs-deployment">
                    <li role="presentation"><a data-toggle="tab" href="#deployment-general-info">General information</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#deployment-executions">Executions</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#deployment-nodes">Nodes and instances</a></li>
                    {% if deployment.outputs %}
                        <li role="presentation"><a data-toggle="tab" href="#deployment-outputs">Outputs</a></li>
                    {% endif %}
                </ul>
                <div id="collapse{{ deployment.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                      <div class="tab-content">
  {#                    {% include 'dashboard/newExecution.html' with deployment_executions=execution_list %}#}
                        <div class="tab-pane" id="deployment-general-info">
                            {% include 'dashboard/deployment/deploymentGeneralInfo.html' with blueprint=blueprint deployment=deployment execution_list=execution_list %}
                        </div>
                        <div class="tab-pane" id="deployment-executions">
                            {% include 'dashboard/deployment/deploymentExecutions.html' with deployment_executions=execution_list %}
                        </div>
                        <div class="tab-pane" id="deployment-nodes">
                            {% include 'dashboard/deployment/deploymentNodes.html' with deployment_nodes=nodes_list deployment_node_instances=node_instances_list %}
                        </div>
                        <div class="tab-pane" id="deployment-outputs">
                            {% include 'dashboard/deployment/deploymentOutputs.html' %}
                        </div>
                      </div>
                  </div>
                </div>
            </div>
         {% endwith %}
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}