<table class="table table-borderless">
    <tbody>
        {% for description, value in deployment.outputs.items %}
        <tr>
            <td>{{ description }}</td>
            <td><b>{{ value }}</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>