{% load bootstrap3 %}
{% bootstrap_css %}
{% load static %}

{% block page_assets %}
    <script type="text/javascript" src="{% static 'dashboard/js/deploymentExecutions.js' %}"></script>
{% endblock %}

<input type="hidden" id="deploymentName" value="{{ deployment.id }}"/>

<table class="table table-borderless">
    <thead>
        <th>Type</th>
        <th>Status</th>
        <th>Cloudify ID</th>
        <th>Created at</th>
        <th>Logs</th>
    </thead>
    <tbody>
        {% for execution in deployment_executions %}
            <tr id="{{ execution.id }}_{{ execution.status }}">
                <td><h4>{{ execution.workflow_id }}</h4></td>
                <td>
                    {% if execution.status == 'started' %}
                        {% bootstrap_label execution.status label_class="label label-success" %}
                    {% elif execution.status == 'terminated' %}
                        {% bootstrap_label execution.status label_class="label label-primary" %}
                    {% elif execution.status == 'cancelled' %}
                        {% bootstrap_label execution.status label_class="label label-danger" %}
                    {% else %}
                        {% bootstrap_label execution.status label_class="label label-default" %}
                    {% endif %}
                </td>
                <td>
                    <i>{{ execution.id }}</i>
                </td>
                <td>
                    <i>{{ execution.created_at|date:"d. M Y" }} at {{ execution.created_at|time:"H:i" }}</i>
                </td>
                <td>
                    {% if execution.status == "pending" %}
                        Not available
                    {% else %}
                        <button class="btnShowLogs btn btn-default btn-sm" data-toggle="modal" data-target="#logsModal-{{ execution.id }}">Show logs</button>
                        {% include 'dashboard/logsModal.html' with execution=execution %}
                    {% endif %}

                    {% if execution.status == 'failed' %}
                         <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#errorTraceModal">Show error trace</button>
                        {% include 'dashboard/errorTraceModal.html' with execution=execution %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{#        {% if execution.parameter_set and execution.workflow_id == 'execute_operation' %}#}
{#        {% for param in execution.parameter_set.all %}#}
{#            {% if param.key == 'operation' %}#}
{#                <strong>Operation: </strong><i class="blue">{{ param.value }}</i><br/>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{##}
{#        {% for param in execution.parameter_set.all %}#}
{#            {% if param.key == 'node_ids' and param.value  %}#}
{#                <strong>Applies to nodes:</strong> <i>{{ param.value }}</i><br/>#}
{#            {% endif %}#}
{#            {% if param.key == 'node_instance_ids' and param.value %}#}
{#                <strong>Applies to node instances:</strong> <i>{{ param.value }}</i><br/>#}
{#            {% endif %}#}
{#            {% if param.key == 'type_names' and param.value %}#}
{#                <strong>Applies to types:</strong> <i>{{ param.value }}</i><br/>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {% endif %}#}






