{% if current_deployment.undeploying %}
    <br/>
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <b>Undeployment is currently in progress</b>
    </div>
{% endif %}

{% include 'dashboard/component/componentStatusLabel.html' with component=current_deployment.blueprint.component %}

<h4>Blueprint ID on Cloudify manager</h4>
{{ blueprint.name }}

<h4>Deployment ID on Cloudify manager </h4>
{{ deployment.id }}

{# execution number is incorrect #}
<h4>Number of all executions </h4> <strong>{{ execution_list|length }}</strong>

    <hr>
    <a role=button class="btn btn-danger topSpacing" href="{% url 'delete-deployment' blueprint.id deployment.id %}">
        <span class="glyphicon glyphicon-cloud-download"></span>
        {% if current_deployment.undeploying %}
            Force undeploy
        {% else %}
            Undeploy
        {% endif %}
    </a>
    <i>Undeployment procedure will not remove application's blueprint from Cloudify manager</i>


