{% load bootstrap3 %}

{% if deployment_nodes %}
<table class="table table-borderless">
    <thead>
        <tr>
            <th>Node</th>
            <th>Node type</th>
            <th>Corresponding instance</th>
            <th>Instance status</th>
            <th>Relationships</th>
        </tr>
    </thead>
    <tbody>
        {% for node in deployment_nodes %}
            <tr>
                <td>{{ node.id }}</td>
                <td>{{ node.type }}</td>
                {% for node_instance in deployment_node_instances %}
                    {% if node_instance.node_id == node.id %} <!-- can be uninitialized -> key error -->
                        <td><strong class="hInline green">{{ node_instance.id }}</strong></td>
                        <td><b>{{ node_instance.state }}</b></td>
{#                            {% if node_instance.properties.items %}#}
{#                                <br/>#}
{#                                <h5 class="hInline">Instance runtime properties:</h5>#}
{##}
{#                                  {% for key, value in node_instance.properties.items %}#}
{#                                    <i>{{ key }}:</i> <strong class="blue">{{ value }}</strong>#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
                    {% endif %}
                {% endfor %}
                <td>
                    {% if node.host_id != None %}
                        hosted on <i>{{ node.host_id }}</i>
                    {% endif %}
                    {% if node.num_instances > 1 %}
                        <i>{{ node.num_instances }} instances</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <i>This deployment doesn't have any nodes</i>
{% endif %}

<!--<strong>Plugins:</strong><i>{{ node.plugins }}</i>-->
<!--<strong>Relationships:</strong><i>{{ node.relationships }}</i>-->



