{% load bootstrap3 %}

<h4>New deployment</h4>
<div class="container marginNoPadding">
    <div class="noLeftPadding">
        <form action="{% url 'create-deployment' blueprint.name %}" method="post" class="form-inline" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="id_deployment_id" name='deployment_id' placeholder="Unique deployment name">
        </div>
{#         <div class="form-group">#}
{#            <input type="text" class="form-control" id="id_local_inputs_filename" name="local_inputs_filename" placeholder="Name without .yaml suffix">#}
{#        </div>#}
        <span class="btn btn-default btn-file">
            Choose file <input type="file" onchange="this.form.submit();" id="id_file" name="file" class="btn-file">
        </span>
        <input type="hidden" name="hidden" value="{{ blueprint.name }}"/>
    </form>
    </div>
</div>
