{% extends "dashboard/blueprint/blueprint.html" %}

{% block details_title %} Assign blueprint file {% endblock %}

{% block details %}

    <p class="bottomSpacing">
        <i>When uploading a blueprint to Cloudify manager, Cloudify packages whole directory containing the main blueprint file and uploads it along with it.
    However, we could not automatically determine which .yaml file holds the contents of this blueprint.</i> <br/>
    </p>

    <h4>Please select a file from the list below.<br/></h4>
    <p class="bottomSpacing"><i>If selected blueprint contains references to any script configuration files, they will be automatically added.<br/></i></p>

    {% for blueprintFile in blueprintCandidates %}
        <p>
             <a href="{% url 'assign-blueprint-file' blueprint.name blueprintFile %}">{{ blueprintFile }}</a>
        </p>
    {% endfor %}



{% endblock %}
