{% extends "dashboard/base.html" %}

{% load bootstrap3 %}

{% bootstrap_css %}         <!-- Load CSS -->
{% bootstrap_javascript %}  <!-- Load JS -->

{% block title %} WITDOM | {{ blueprint.name }} {% endblock %}

{% block content %}
   <div class="container">
{#        {% with component=blueprint.component %}#}
{#            <h2 class="brown"><b>{{ component.name }}</b> - {{ component.get_type_display }}</h2>#}
{#            <p>{{ component.description }}, authored by {{ component.author }}</p>#}
{#        {% endwith %}#}

        <nav class="navbar navbar-default topSpacing">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    {% with component=blueprint.component %}
                        <a class="navbar-brand" href="#"><h3 class="brown brandText"><b>{{ component.name }}</b> - {{ component.get_type_display }}</h3></a>
                    {% endwith %}
                </div>

                <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{% url 'show-component' blueprint.component.id %}"> Deployment info</a></li>
                    <li><a href="{% url 'show-blueprint-files' blueprint.name %}">Deployment files</a></li>
                    <li><a href="{% url 'serve-blueprint' blueprint.name %}"><span class="glyphicon glyphicon-save"></span> Save files</a></li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Remove blueprint<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'delete-blueprint' blueprint.name %}">Delete from Cloudify manager</a></li>
                            <li><a href="{% url 'unlink-blueprint' blueprint.component.id %}">Remove, but keep on manager</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

       {% bootstrap_messages %}

        <div class="col-md-9" id="details">
            {% block details %}{% endblock %}
        </div>
    </div>
{% endblock %}

