{% extends "dashboard/blueprint/blueprint.html" %}

{% block details %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#file-blueprint-main">Main blueprint file</a></li>
        <li role="presentation"><a data-toggle="tab" href="#file-blueprint-inputs">Blueprint inputs</a></li>

        {% if blueprint.script_set.count %}
            <li role="presentation"><a data-toggle="tab" href="#file-scripts">Additional scripts</a></li>
        {% endif %}
    </ul>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="file-blueprint-main">
                {% include 'dashboard/blueprint/mainBlueprintFile.html' %}
            </div>
            <div class="tab-pane fade" id="file-blueprint-inputs">
                {% include 'dashboard/blueprint/blueprintInputsFile.html' %}
            </div>
            <div class="tab-pane fade" id="file-scripts">
                {% include 'dashboard/scripts.html' %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}