{% load bootstrap3 %}

<h2><a href="{% url 'list-deployments' component.id %}">{{ blueprint.name }}</a></h2>
    {% if blueprint.uploaded %}
        {% bootstrap_label "On Cloudify manager" label_class="label label-success" %}
    {% else  %}
        {% bootstrap_label "Local" label_class="label label-default" %}
    {% endif %}

<div class="topSpacing">
    <a href="{% url 'delete-blueprint' blueprint.name %}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="{% url 'unlink-blueprint' component.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-link"></span> Unlink from app</a>
</div>