{% extends "dashboard/blueprint/blueprint.html" %}

{% block details_title %} General information {% endblock %}

{% block details %}

{% if blueprint.uploaded %}
    Created at <strong><i>{{ blueprint.created_at }}</i></strong><br/>

    {% if blueprint.local_filename %}
        <h5>Blueprint file: <strong>{{ blueprint.local_filename }}</strong></h5>
    {% endif %}

    {% if blueprint.deployment_set.count %}
        <h5>Deployments: {{ blueprint.deployment_set.count }}</h5>
    {% else %}
        <h5><i>There are currently no deployments for selected blueprint.</i></h5>
    {% endif %}

    <hr>
{#    {% include 'dashboard/newDeployment.html' %} <!-- Form for creating new deployment -->#}

{% else %}
    This blueprint only exists locally. <br/>

    <div>
        <br/>
        <h4>Upload additional scripts?</h4>
        <p>Before uploading blueprint to Cloudify manager, you can optionally add configuration scripts for your app's nodes. Note that you won't be able to add scripts after you have uploaded this blueprint to Cloudify manager.</p>
        <br/>

        <p><b>All files in the folder from which you uploaded the blueprint will be automatically uploaded on the Cloudify Manager. If your scripts reside inside your blueprint folder, there is no need to upload them seperately.</b></p>
        <form action="{% url 'create-script' blueprint.name %}" enctype="multipart/form-data" method="post" class="hInline">
            {% csrf_token %}
            <span class="btn btn-default btn-file">
                Add script <input type="file" onchange="this.form.submit();" id="id_file" name="file" class="btn-file">
            </span>
            <input type="hidden" name="hidden" value="{{ blueprint.name }}"/>
        </form>
    </div>

    <br/>
    <a href="{% url 'push-blueprint' blueprint.name %}" class="btn btn-success topSpacing" role="button"><span class="glyphicon glyphicon-cloud-upload"></span> Upload to Cloudify management server</a>
{% endif %}

{% endblock %}
