{% if not component.deployed %}
<h4>Provide data for deployment</h4>
<p>Here you should provide application blueprint and inputs for this deployment.<br/>
    If your blueprint references any lifecycle scripts, you can add them here.</p>
<br/>
<b>You can start the deployment in the next step.</b>
<br/>
<br/>

<form id="component-deployment-files" class="form-inline" action="{% url 'create-blueprint' component.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-5 col-md-offset-3">
        <input type="text" id="id_name" name='name' class="form-control" placeholder="Unique blueprint name">
        <span class="btn btn-default btn-file">
            Choose Cloudify blueprint
            <input type="file" id="id_blueprint_file" name="blueprint_file" class="btn-file">
        </span>
        </div>
        <span id="filename_blueprint" class="col-md-2 text-left fileFeedback">No file chosen</span>
    </div>

    <div class="row topSpacing">
        <div class="form-group col-md-5 col-md-offset-3">
            <input type="text" class="form-control" id="id_name" name='deployment_name' placeholder="Unique deployment name">
            <span class="btn btn-default btn-file">
                Choose deployment inputs <input type="file" id="id_blueprint_inputs_file" name="blueprint_inputs_file" class="btn-file">
            </span>
        </div>
        <span id="filename_blueprint_inputs" class="col-md-2 text-left fileFeedback">No file chosen</span>
    </div>

    <div class="row">
        <div class="form-group">
            <span id="addScriptSpan" class="btn btn-primary btn-file topSpacing">
                Add script <input type="file" id="id_script_file" name="script_file" class="btn-file">
            </span>
            <br/>
            <div id="scriptsFeedbackDiv" style="display:none;" class="topSpacing">Scripts: <span id="scriptsList"></span></div>
        </div>
    </div>

    <button type="submit" class="btn btn-success topSpacing">
        <span class="glyphicon glyphicon-cloud-upload"></span>
        Upload to Cloudify manager
    </button>
</form>


{% else %}
    Your application was already deployed!
{% endif %}

