{% load bootstrap3 %}
{% bootstrap_css %}         <!-- Load CSS -->
{% bootstrap_javascript %}  <!-- Load JS -->

{% if blueprints %}
    <div class="list-group topSpacing">
    {% for blueprint in blueprints %}
            <a href="{% url 'link-blueprint' component.id blueprint.id %}" class="btn btn-default" role="button"> <span> {{ blueprint.name }}</span></a>
    {% endfor %}
    </div>
{% endif %}