{% load static %}
{% load bootstrap3 %}

{% block page_assets %}
   <script type="text/javascript">
   $(document).ready(function() {
       $(".row-clickable").click(function() {
            window.location = $(this).data("href");
        });

{#        row = $('.row-clickable').filter('[data-href="/manager/2/"]');#}
{#        untrusted_ip = row.find('td').first();#}
{#       console.log(untrusted_ip);#}
{#       console.log(untrusted_ip.html());#}
{#       untrusted_ip.html("192.16.0.240");#}

   });

   </script>
{% endblock %}

{% block content %}
    <div class="centering topSpacing">
        <div class="row topSpacing">
            <div class="col-md-8 col-md-offset-2">
                {% if managers %}
                        <h4>Registered Cloudify managers</h4>
                    <div class="panel panel-default topPadding">
                        <table class="table table-hover">
                            <thead>
                                 <tr>
                                    <th class="text-center">IP Address</th>
                                    <th class="text-center">Cloud Provider</th>
                                    <th class="text-center">Connection type</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for manager in managers %}
                                {% with status=manager.get_status %}
                                {% if status == "running" %}
                                    <tr class="row-clickable" data-href="{% url 'connect-manager' manager.id %}">
                                {% else %}
                                    <tr class="row-disabled">
                                {% endif %}
                                    <td>{{ manager.ip }}</td>
                                    <td>{{ manager.provider }}</td>
                                    <td>{{ manager.get_protocol|upper }}</td>
                                    <td>{{ status|title }}</td>
                                    <td>
                                        <a role="button" class="btn btn-xs btn-danger" href="{% url 'delete-manager' manager.id %}" name="deleteManager" title="Delete manager">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h5>You didn't register any Cloudify managers in this domain yet.</h5>
                {% endif %}

                <br/>
                {% include 'dashboard/manager/newManager.html' %}
            </div>
        </div>
     </div>
{% endblock %}
