{% load bootstrap3 %}

<h4>Add a new Cloudify manager</h4>
<form action="{% url 'create-manager' domain.id %}" method="post" class="form-inline">
  {% csrf_token %}
  {% bootstrap_form form layout='inline' %}
{#        {{ form.fields.ip }}#}
{#        {{ form.fields.provider }}#}
{#        {{ form.fields.ssl }}#}
{#    {{ form.as_p }}#}
    {% buttons %}
    <button type="submit" class="btn btn-success">
      {% bootstrap_icon "plus" %} Add
    </button>
  {% endbuttons %}
</form>