{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}         <!-- Load CSS -->
{% bootstrap_javascript %}  <!-- Load JS -->

{% block title %} WITDOM | components {% endblock %}

{% block page_assets %}
    <script type="text/javascript" src="{% static 'dashboard/js/componentDetails.js' %}"></script>
{% endblock %}

{% block content %}

<div class="centering container">
    <div class="panel panel-default col-md-12">
      <div class="panel-body">
        <h2 class="brown hInline"><b>{{ component.name }}</b> - {{ component.get_type_display }}</h2>
        <a href="{% url 'delete-component' component.id %}" id="delete-component-btn" class="btn btn-xs btn-danger" role="button"> <span class="glyphicon glyphicon-trash"></span></a>
        <p class="topSpacing">{{ component.description }}, provided by {{ component.author }}</p>

        {% bootstrap_messages %}
        <hr>

        {% if blueprint != None %}
            This component's blueprint:
            {% include 'dashboard/blueprint/blueprintSummary.html' %}
        {% else %}
            <div>
                {% include 'dashboard/blueprint/blueprintUploadForm.html' %}
    {#            {% include 'dashboard/scriptUploadForm.html' %}#}
    {#            {% include 'dashboard/newDeployment.html' %}#}
                <br/>

                {% if blueprints|length > 0 %}
                    <hr>
                    <h4>Or choose existing blueprint from Cloudify manager</h4>
                    {% include 'dashboard/blueprint/existingBlueprints.html' %}
                {% endif %}
            </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
</div>