{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} WITDOM | Components {% endblock %}

{% block content %}
    <div class="container centering">
        <div class="col-md-12">
            {% bootstrap_messages %}

            <h3>WITDOM components in {{ request.session.domain.get_name }} domain</h3>
            {% if components %}
            <div class="panel panel-default topPadding">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center">Name</th>
{#                        <th class="text-center">Component type</th>#}
{#                        <th class="text-center">Contributor</th>#}
                        <th class="text-center">Description</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Deployment</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    {% for component in components %}
                        <tr class="row-clickable" data-href="{% url 'show-component' component.id %}">
                            <td class="brown"><b>{{ component.name }}</b></td>
{#                            <td>{{ component.get_type_display }}</td>#}
{#                            <td>{{ component.provider }}</td>#}
                            <td>{{ component.description }}</td>
                            <td>{{ component.description }}</td>
                            <td>
                                {% include 'dashboard/component/componentStatusLabel.html' %}
                            </td>
                            <td>
                                {% if component.blueprint %}
                                    {% with status=component.get_status %}
                                        {% if status == component.NONE %}
                                             <a title="Deploy" href="{% url 'run-deployment' component.blueprint.id %}" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-cloud-download"></span> Deploy</a>
                                        {% elif status == component.DEPLOYING or status == component.SUCCESS %}
                                             <a title="Undeploy" href="{% url 'delete-deployment' component.blueprint.id component.blueprint.deployment_set.first.id %}" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-cloud-upload"></span> Undeploy</a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <i>Not ready</i>
                                {% endif %}
                            </td>
                            <td>
                                <a title="Delete" href="{% url 'delete-component' component.id %}" class="btn btn-danger" role="button"> <span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <i>You don't have any components yet</i>
                <br/>
                <br/>
            {% endif %}

            {% include 'dashboard/component/newComponent.html' %}
        </div>
     </div>
{% endblock %}