{% load bootstrap3 %}
{% load static %}

{#{% block page_assets %}#}
{#    <script type="text/javascript" src="{% static 'dashboard/js/newComponent.js' %}"></script>#}
{#{% endblock %}#}

<div class="row centering">
    <div class="container col-md-6" style="float: none;">
        <div class="centering">

          <button class="btn btn-primary" data-toggle="collapse" data-target="#new-component-form" id="btnNewComponent">
              <span class="glyphicon glyphicon-plus"></span>
              Create a new WITDOM component
          </button>

        <div id="new-component-form" class="collapse">
            <form action="{% url 'create-component' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form component_form %}
                  {% buttons %}
                    <button type="submit" class="btn btn-success">
                      {% bootstrap_icon "plus" %} Create
                    </button>
                  {% endbuttons %}
            </form>
        </div>
        </div>
    </div>
</div>
