<!DOCTYPE html>

{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_css %}

<html lang="en">
    <head>
        <title>{% block title %} WITDOM Dashboard {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="keywords" content="{% block metakeywords %}{% endblock %}">

        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/pygmentify-friendly.css' %}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/wizard.css' %}" media="screen" />

        <script type="text/javascript" src="{% static 'dashboard/js/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/cookies.js' %}"></script>
        {% block page_assets %}
            <script type="text/javascript" src="{% static 'dashboard/js/app.js' %}"></script>
        {% endblock %}

        {% bootstrap_css %}         <!-- Load CSS -->
        {% bootstrap_javascript %}  <!-- Load JS -->
        {% load static %}
    </head>

    <body class="gray-bg">
        <div id="background"></div>
        <nav class="nav centering" id="header" role="navigation">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-6 col-xs-offset-3 header">
                      <a href="{% url 'index' %}">
                        <img src="{% static 'dashboard/img/witdom_logo.svg' %}" class="headerLogo">
                        <span>Dashboard</span>
                      </a>
                  </div>
                  <div class="col-xs-3 topSpacing">
                      {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <span><i>Signed in as {{ request.user.username }} (admin) </i></span>
                            {% else %}
                                <span><i>Signed in as {{ request.user.first_name }} {{ request.user.last_name }}</i></span>
                            {% endif %}

{#                             Debug#}
{#                            {% if request.user.ldap_user %}#}
{#                                {% for key,val in request.user.ldap_user.attrs.items %}#}
{#                                    {{ key }} : {{ val }}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            <span>Last login: {{ request.user.last_login }}</span>#}
{#                            <br/>#}
                            {% bootstrap_button "Logout" button_type="link" href="/logout" button_class="btn-xs btn-danger left_padding" icon="glyphicon glyphicon-log-out" %}
                      {% endif %}
                  </div>
                </div>
            </div>
        </nav>

        <div id="container-main">
            {% if request.user.is_authenticated %}
                <ul class="wizard centering">
                  {% if request.session.step == 1 %}
                      <li class="disabled current"><a href="#"><span class="step_tag">Step</span> 1: Choose a Cloudify manager</a></li>
                      <li class="disabled"><a><span class="step_tag">Step 2:</span> Choose a component</a></li>
                      <li class="disabled"><a><span class="step_tag">Step 3:</span> Deploy/monitor</a></li>
                  {% elif request.session.step == 2  %}
                      <li class="enabled"><a href="{% url 'index' 1 %}"><span class="step_tag">Step 1:</span> Choose a Cloudify manager (<b>{{ request.session.domain.get_name|title }}, {{ request.session.manager.ip }}</b>)</a></li>
                      <li class="disabled current"><a><span class="step_tag">Step 2:</span> Choose a component</a></li>
                      <li class="disabled"><a><span class="step_tag">Step 3:</span> Deploy/monitor</a></li>
                  {% elif request.session.step == 3 %}
                      <li class="enabled"><a href="{% url 'index' 1 %}"><span class="step_tag">Step 1:</span> Choose a Cloudify manager (<b>{{ request.session.domain.get_name|title }}, {{ request.session.manager.ip }}</b>)</a></li>
                      <li class="enabled"><a href="{% url 'connect-manager' request.session.manager.id %}"><span class="step_tag">Step 2:</span> Choose a component (<b>{{ request.session.component.name }}</b>)</a></li>
                      <li class="disabled current"><a><span class="step_tag">Step 3:</span> Deploy/monitor</a></li>
                  {% endif %}
                </ul>
            {% endif %}
            {% block content %}

            {% endblock %}
        </div>

        <div class="footer centering">
          <p>empoWering prIvacy and securiTy in non-trusteD envirOnMents</p>
          <a href="http://witdom.eu/">&copy; WITDOM</a> 2017
        </div>
    </body>
</html>