{% load pygmentify %}

<div class="modal fade" id="errorTraceModal" tabindex="-1" role="dialog" aria-labelledby="errorTrace">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorTrace">Error trace for execution {{ execution.id }} ({{ execution.workflow_id }})</h4>
      </div>
      <div class="modal-body">
        {% pygment %}
        <pre lang="python">
            {{ execution.error }}
         </pre>
        {% endpygment %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>