{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} WITDOM | Marketplace {% endblock %}
{#{% block page_assets %}#}
{#    <script type="text/javascript" src="{% static 'dashboard/js/domainSetup.js' %}"></script>#}
{#{% endblock %}#}

{% block content %}
    {#    TODO move to more appropriate place #}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#deleteDeployment").click(function() {
            return window.confirm("Are you sure?");
        });
    });
    </script>

    {% bootstrap_messages %}

    <div class="row topSpacing">
        <div class="container centering">
        {% include 'dashboard/domain.html' %}
        {% include 'dashboard/managers.html' %}
        </div>
    </div>
        <!-- If you estabished connection to a certain Cloudify management server, you are ready to associate apps
            and deploy them with Cloudify -->

        {% if request.session.manager_ip %}
            <hr>
            {% include 'dashboard/newComponent.html' %}
            {% include 'dashboard/components.html' %}
        {% else %}
            <p class="centering topSpacing"><i>In order to deploy applications with Cloudify, you must first establish connection to a running instance of Cloudify manager. <br/>
                Only managers using Cloudify v3.3.x are supported</i></p>
        {% endif %}
{% endblock %}