<div class="modal fade" class="logsModal" id="logsModal-{{ execution.id }}" tabindex="-1" role="dialog" aria-labelledby="logs">
  <div class="modal-dialog custom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logs">Logs for execution {{ execution.id }} ({{ execution.workflow_id }})</h4>
      </div>
      <div class="modal-body"><p id="retrievedLogs-{{ execution.id }}"></p></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>