{% load bootstrap3 %}
{% load static %}

<script type="text/javascript" src="{% static 'dashboard/js/cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/parameters.js' %}"></script>

<!-- Javascript code is here in order to access request context. We need to access deployment.deployment_id  -->
<script type="text/javascript">
    $(document).ready(function() {

     if ($("[name=extra_params_count]").val() >= 3) {
        $("#add-another").hide();
     }

     $("#add-another").click(function() {
        num_extras = $("[name=extra_params_count]").val();

        if (num_extras < 3) {
            extra_key = $('<select/>');
            extra_key.attr('name', 'extra_key_' + num_extras);
            extra_key.attr('id', 'id_extra_key_' + num_extras);

            extra_value = $('<input type="text"/>');
            extra_value.attr('name', 'extra_value_' + num_extras);

            $("#forms").append(extra_key);
            $("#forms").append(extra_value);

            num_extras ++;
            $("[name=extra_params_count]").val(num_extras);

            add_field_ajax($("[name=extra_params_count]").val());
         }})
      });

      function add_field_ajax(val) {

        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: '',
            type: "POST",
            data: { extra_params_count : val },
            //error: function(xhr, errmsg, err) {
             //   alert ("Ajax request FAILED - " + xhr.status + " : " + xhr.responseText);
            //}
        })
      }

    function submitExecutionForm() {
        hidden = $('<input type="hidden" name="create_execution" value="true"/>');
        if ($("[name=extra_params_count]").val() > 0) {
            hidden_params = $('<input type="hidden" name="finished" value="true"/>');
            $("#new_execution_form").append(hidden_params);
        }
        $("#new_execution_form").append(hidden);
        $('#new_execution_form').submit();      // submit parameter form and parse
    }

</script>

<!-- When creating deployment, workflow create_deployment_environment is executed
        If it hasnt terminated successfully, furhter executions cannot be run -->
<!-- Below code should only render form for creating execution at most once -->
{% for execution in deployment_executions %}
    {% if execution.workflow_id == 'create_deployment_environment' and execution.status == 'terminated' %}
    <div class="marginNoPadding">
        <div class="noLeftPadding">
            <form id='new_execution_form' action="" method="post" class="form-inline">
                {% csrf_token %}
                {% bootstrap_form execution_form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-success pull-right" onclick="">
                    {% bootstrap_icon "plus" %} Create execution
                </button>
                {% endbuttons %}

                <div id="forms">
                    {{ params_form }}

                    {% buttons %}
                    <button class="btn btn-primary leftTopSpacing" id="add-another">Add parameter</button>
                    <!--<button class="btn btn-primary leftTopSpacing" onclick="submitForms()">OK</button>-->
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
    <hr>
    {% endif %}
{% endfor %}
