{% extends "dashboard/blueprint/blueprint.html" %}

{% block details_title %} Assign configuration scripts to blueprint {% endblock %}

{% block details %}


  {% if scriptCandidates %}

    <p>
        <i>When uploading a blueprint to Cloudify manager, Cloudify packages whole directory containing the main blueprint file and uploads it along with it. This includes configuration scripts.
        </i><br/>
    </p>

    <p class="bottomSpacing"><i>You can link configuration scripts to this blueprint here. All script files are referenced in application's blueprint file.</i></p>

  {% for script in scriptCandidates %}
      <p>
         <a href="{% url 'assign-script' blueprint.name script %}">{{ script }}</a>
    </p>
  {% endfor %}

  {% else %}
    <i>No script configuration files were uploaded to Cloudify manager.</i>
  {% endif %}


{% endblock %}