{% load pygmentify %}

{% for script in scripts %}
    <h4>{{ script.name }}</h4>
    {% pygment %}
        <pre lang="bash">
            {{ script.read }}
        </pre>
    {% endpygment %}
{% endfor %}
