{% extends "dashboard/base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}         <!-- Load CSS -->
{% bootstrap_javascript %}  <!-- Load JS -->
{% bootstrap_messages %}    <!-- Display django.contrib.messages as Bootstrap alerts -->

{% block title %} WITDOM | Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 topSpacing">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form label_class='topSpacing' form_group_class='centering' %}

            {% bootstrap_button "Login" button_type="submit" button_class="btn-primary topSpacing btn-block" %}
            </form>
        <a role="button" href="{% url 'register' %}" class="btn btn-danger topSpacing btn-block">Don't have an account?</a>
        </div>
    </div>
</div>


{% endblock %}