{% extends "dashboard/base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}         <!-- Load CSS -->
{% bootstrap_javascript %}  <!-- Load JS -->
{% bootstrap_messages %}    <!-- Display django.contrib.messages as Bootstrap alerts -->

{% block title %} WITDOM | Register {% endblock %}

{% block content %}

<!--{% bootstrap_messages %}-->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' horizontal_field_class='col-md-7 topSpacing' horizontal_label_class='col-md-3 topSpacing' %}
                {% bootstrap_button "Create account" button_type="submit" button_class="btn-primary col-md-10" %}
            </form>
        </div>

    </div>
</div>
{% endblock %}