/*html {*/
    /*background-image: url(../img/witdom_watermark.png);*/
    /*background-size: 25%;*/
    /*background-repeat: no-repeat;*/
    /*z-index: 10;*/
/*}*/

#background {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 100%;
    height: 100%;
    background-image: url(../img/witdom_watermark.png);
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0.1;
}

.h-status-label {
    margin-top: 5px;
    margin-bottom: 20px;
}

.gray-bg {
    background-color: #fafafa;
}

/* Main container of the page content, beneath the header */
#container-main {
    background: linear-gradient(to bottom,#e5e5e5,#fafafa 10px);
    width: 100%;
    margin-bottom: 25px;
}

.menu {
    background: #874141;
}

.menu-tab-text {
    color: white;
    font-family: "open sans",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    text-transform: uppercase;
}

.header a:hover,
.header a:visited,
.header a:link,
.header a:active {
    text-decoration: none;
    color: #874141;
    font-family: "open sans",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: x-large;
}

#chosen-domain-header {
    color: #874141;
    font-size: x-large;
}

.align-right {
    text-align: right;
}

.no-top-margin {
    margin-top: 0;
}

.no-margins {
    margin-top: 0;
    margin-bottom: 0;
}

.step_tag {
    text-decoration: underline;
}

.headerLogo {
	height: 50px;
    margin: 5px;
}

.topSpacing {
	margin-top: 10px !important;
}

.topPadding {
	padding-top: 15px;
}

.bottonPadding {
    padding-bottom: 15px !important;
}

.btn-topMargin {
    margin-top: 15px;
}

div.highlight {
    margin-top: 10px;
}

.bottomSpacing {
	margin-bottom: 20px !important;
}

.marginBottom15 {
    margin-bottom: 15px !important;
}

.topSpacingFromHeader {
	margin-top: 30px !important;
}

.buttonSpacing {
	margin-top: 15px;
	margin-bottom: 15px !important;
}

.centering {
	text-align: center;
}

.centered {
    float: none;
    margin: 0 auto;
}

input[name="file"] {
 	width: 100%;
}

.hInline {
	display: inline;
}

.noLeftPadding {
	padding-left: 0 !important
}

.left_padding {
    margin-left: 5px;
}

.marginNoPadding {
	margin-bottom: 15px;
    margin-top: 10px;
    padding: 0 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#forms label, #forms ul {
    display: none;
}

#forms input, #forms select {
    margin-top: 10px;
    width: 35%;
    display: inline;
}

.leftTopSpacing {
    margin-left: 20px;
    margin-top: 10px;
}

#header {
    /*border-bottom: 4px solid #874141;*/
    background: #fff2d0;
    background: #e5e5e5;
    background: #DFEDE2;
    background-image: radial-gradient(ellipse at center, #dfede2 0%, transparent 70%), radial-gradient(ellipse at center, #dfede2 0%, transparent 120px), radial-gradient(ellipse at center, #dfede2 0%, transparent 70%), url(../img/witdom_pattern.svg);
    background-repeat: no-repeat,no-repeat,no-repeat, repeat;
    background-size: 340px 340px,240px 240px, 1200px 1200px,39px;
    background-position: 100% 50%,0 0,0 50%,0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.col-xs-offset-custom {
    margin-left: 37.5%;
}

.stretch {
    width: 100%;
}

.brown {
    color: #874141;
}

.blue {
    color: #428bca;
}

.grey {
    color: grey;
}

.green {
    color: #53B393;
}

.panel-colored {
    color: #333 !important;
    background-color: #E0EEE3 !important;
    border-color: #ddd;
}

hr .brown {
    color: #874141;
    border-color: #874141;
    background-color: #874141;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #653030 !important;
    border-color: #4c2525 !important;
}

.nav > li > .btnPrimary:hover .btnPrimary:click {
    color: #ffffff;
    background-color: #357ebd;
    border-color: #4c2525;
}

.menuBtn {
    width: 100% !important;
    padding: 10px !important;
}

.pWrapperMargins {
    margin-top: 0;
    margin-bottom: 3px;
}

ol.breadcrumb {
    margin-bottom: 0;
    padding-top: 15px;
    background-color: transparent;
    font-style: italic;
    font-size: larger;
    /*font-weight: bold;*/
}

ol.breadcrumb > li,
ol.breadcrumb > li > a {
    color: #874141;
}

#btnNewComponent {
    margin-bottom: 20px;
}

.row-clickable {
    cursor: pointer;
}

.row-disabled {
    background: lightgray;
}

.modal-dialog.custom {
    width: 75%;
}

.brandText {
    margin-top: -3px;
}

/*.smallBottomSpacing {*/
    /*margin-bottom: 5px;*/
/*}*/

.fileFeedback {
    margin-left: -40px;
    margin-top: 5px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
    border: none !important;
}

#details {
    width: 100%;
}

#delete-component-btn {
    margin-top: -10px;
}

.highlight pre {
    background-color: white;
    border: none;
}

.nav-tabs > li.active > a {
    color: #ffffff !important;
    background-color: #874141 !important;
    border: 1px solid #4c2525 !important;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li.active > a:hover {
    color: #ffffff !important;
    background-color: #653030 !important;
    border: 1px solid #4c2525 !important;
    border-bottom-color: transparent;
    cursor: default;
}