.wizard {
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	font: 14px Helvetica, Arial, Sans-Serif;
}

.wizard li {
	/*float: left;*/
	display: inline;
}
.wizard li a {
	color: black;
	font-style: italic;
	text-decoration: none;
	padding: 10px 0 10px 65px;
	background: lightgray;                   /* fallback color */
	position: relative;
	display: inline-block;
	/*float: left;*/
}

.wizard li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid lightgray;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.wizard li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.wizard li:first-child a {
	border-bottom-left-radius: 10px;
}

.wizard li.current a {
	background: #aeaeae;
	pointer-events: none;
	cursor: default;
}

.wizard li.current a:after {
	border-left-color: #aeaeae;
}

.wizard li a {
	background: lightgray;
}

.wizard li a:after {
	border-left-color: lightgray;
}

.wizard li.current a {
	background: #aeaeae;
}

.wizard li.current a:after {
	border-left-color: #aeaeae; !important;
}

.wizard li.disabled a {
	pointer-events: none;
	cursor: default;
}